# Build outputs
/build/
*.o
*.obj
*.out
*.a
*.so
*.dylib
*.exe
*.dSYM/

# macOS metadata
.DS_Store

# JetBrains IDE metadata
.idea/

# Legacy Dev-C++ project metadata
*.dev

# Legacy in-source executables (exact paths)
/homework/month
/homework/prime
/homework/score
/homework/step
/homework/sum_and_average
/lesson01/hello
/lesson02/compute_area
/lesson02/compute_area_0
/lesson02/convertion
/lesson02/double_vs_float
/lesson02/format_test
/lesson02/integer_constent
/lesson02/io_simple
/lesson02/io_str_simple
/lesson02/string
/lesson03/3_01_operator_precedence
/lesson03/3_02_operator_eval_order
/lesson03/3_03_ops-arithmetic-int-promoption
/lesson03/3_04_ops-arithmetic-examples
/lesson03/3_05_ops-arithmetic-quotient
/lesson03/3_06_ops_bits_examples
/lesson03/3_07_ops_inc_dec
/lesson03/3_08_ops_comparison
/lesson03/3_09_ops_logical
/lesson03/3_10_swap
/lesson03/3_11_swap1
/lesson03/3_12_swap2
/lesson03/3_13_ops_and_assign
/lesson03/3_14_ops_others
/lesson03/3_15_ops_precedence_parenthesis
/lesson04/4_01_bool-constants-type
/lesson04/4_02_bool-expr-random
/lesson04/4_03_oneway-if-coumpute-area
/lesson04/4_04_twoway-if-max
/lesson04/4_05_ex-add-learning
/lesson04/4_06_switch-weekday
/lesson04/4_07_switch-score-grade
/lesson04/4_08_ex-sort-three
/lesson05/5_01_loop
/lesson05/5_02_while-conut-string
/lesson05/5_03_while-add-learning
/lesson05/5_04_dowhile-guess-number
/lesson05/5_05_for-loop
/lesson05/5_06_nest-print-matrix
/lesson05/5_07_nest-99-table
/lesson05/ex_loop-modi
/lesson06/06_11_Facterial
/lesson06/06_13_static
/lesson06/06_14_01_prime0
/lesson06/06_14_02_prime1
/lesson06/06_14_03_prime2
/lesson06/6_01_function-syntax
/lesson06/6_02_call-byref-swap
/lesson06/6_03_function-parameter-expression
/lesson06/6_04_ex-encipher
/lesson06/Fibonacci
/lesson06/frog
/lesson06/main
/lesson06/sum
/lesson06/回文数
/lesson06/整数反转
/lesson07/7_01_1_input_n
/lesson07/7_01_2_input_spec
/lesson07/7_01_3_input_eof
/lesson07/7_02_average_rain
/lesson07/7_03_vecter_add
/lesson07/7_04_matrix_add
/lesson07/7_04_matrix_add_new
